Modified_combined_loss_and_loss_completion.ipynb
Modified_combined_loss.ipynb
Modified_loss_and_loss_completion_reduced_alpha.ipynb
Modified_loss_completion.ipynb
Original_model.ipynb
Test_result.ipynb
Unchanged_patch.ipynb
discriminator-ite151001
log.txt
